{% if user_rating == 5 %}
<input checked type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 4.5 %}
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 4 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 3.5 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 3 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 2.5 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 2 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 1.5 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 1 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% elif user_rating >= 0.5 %} 
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input checked type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% else %}
<input type="radio" name="star" id="star-1" value="10" onclick="rateMovie()">
<input type="radio" name="star" id="star-2" value="9" onclick="rateMovie()">
<input type="radio" name="star" id="star-3" value="8" onclick="rateMovie()">
<input type="radio" name="star" id="star-4" value="7" onclick="rateMovie()">
<input type="radio" name="star" id="star-5" value="6" onclick="rateMovie()">
<input type="radio" name="star" id="star-6" value="5" onclick="rateMovie()">
<input type="radio" name="star" id="star-7" value="4" onclick="rateMovie()">
<input type="radio" name="star" id="star-8" value="3" onclick="rateMovie()">
<input type="radio" name="star" id="star-9" value="2" onclick="rateMovie()">
<input type="radio" name="star" id="star-10" value="1" onclick="rateMovie()">
{% endif %}