{% extends 'base.html' %}
<!DOCTYPE html>
<html>
{% block css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/movie_detail.css' %}">
{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <div class="profile"> 
        <div class="row">
            <div class="column-1">
                <div class="profile-card" style="vertical-align: middle;">
                    <img class="icon" src="{{requested_user.profilepic}}" alt="profile-image">
                    <h4 class="name">{% if requested_user.name %}{{requested_user.name}}{% else %}{% endif %}</h4>
                    <p class="username" style="margin-bottom: 15px;">@{{requested_user.username}}</p>
                    {% if requested_user.username == user.username %}
                        <a href="{% url 'edit_profile' %}" class="btn btn-dark" style="margin-left: 105px;">Edit profile</a>
                    {% else %}
                        <p id="follow" onclick="follow('{{requested_user.username}}')" class="btn btn-success" style="width: 100px; margin-left: 113px; text-align: center;">{% if is_following %}Unfollow{% else %}Follow{% endif %}</p>
                    {% endif %}              
                    <p class="location" style="margin-top: 15px;"><i class="fa fa-map-pin"></i> <span class="ms-2">{% if requested_user.location %}{{requested_user.location}}{% else %}{% endif %}</span></p>
                    <p class="bio" style="word-wrap: break-word;">{% if requested_user.bio %}{{requested_user.bio}}{% else %}{% endif %}</p>                                    
                    <a href="{{requested_user.facebook}}" class="facebook" style="color: white; margin-left: 138px;"><i class="mdi mdi-facebook"></i></a>
                    <a href="{{requested_user.twitter}}" class="twitter" style="color: white;"><i class="mdi mdi-twitter"></i></a>
                </div>
                <button class="follower-button" onclick="openForm('followers')" style="float: left; color: white;">
                    <span style="font-size: 20px;">{{followers|length}}</span><br>Followers
                </button>
                <div class="followers" id="followers">
                    <button class="close-button" type="button" onclick="closeForm('followers')"><i class="fa fa-close"></i></button>
                    <div class="scroll">
                    {% for follower in followers %}
                    <div class="follower">
                        <a href=" {% url 'profile' username=follower.following_user.username %}">
                            <img src="{{follower.following_user.profilepic}}" class="ava-comment" style="margin-right:10px; float: left;">
                        </a>
                        <span class="comment-name">
                                <a href="{% url 'profile' username=follower.following_user.username %}">{{follower.following_user.name}}</a>
                                <br>@{{follower.following_user.username}}
                        </span>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <button class="following-button" onclick="openForm('followings')" style="float:left; color: white;">
                    <span style="font-size: 20px;">{{following|length}}</span><br>Following
                </button>
                <div class="followings" id="followings">
                    <button class="close-button" type="button" onclick="closeForm('followings')"><i class="fa fa-close"></i></button>
                    <div class="scroll">
                    {% for user in following %}
                    <div class="following">
                        <a href=" {% url 'profile' username=user.user.username %}">
                            <img src="{{user.user.profilepic}}" class="ava-comment" style="margin-right:10px; float: left;">
                        </a>
                        <span class="comment-name">
                                <a href="{% url 'profile' username=user.user.username %}">{{user.user.name}}</a>
                                <br>@{{user.user.username}}
                        </span>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <button class="list-button" onclick="openForm('lists')" style="color: white;">
                    <span style="font-size: 20px;">{{lists|length}}</span><br>Lists
                </button>
                <div class="lists" id="lists">
                    <button class="close-button" type="button" onclick="closeForm('lists')"><i class="fa fa-close"></i></button>
                    <div class="scroll">
                    {% for list in lists %}
                    <div class="list">
                        <span class="comment-name" style="font-weight: 500; margin-top:10px;">
                                <a href="{% url 'movie_list' list_id=list.id %}">{{list.name}}</a>
                        </span>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column-2">
                <div class="tab">
                    <button class="tablinks active" onclick="openTab(event, 'recent-reviews')" id="defaultOpen"><b>Recent Reviews</b></button>
                    <button class="tablinks" onclick="openTab(event, 'watched-movies')"><b>Watched</b></button>
                    <button class="tablinks" onclick="openTab(event, 'liked-movies')"><b>Liked</b></button>
                    <button class="tablinks" onclick="openTab(event, 'watchlist-movies')"><b>Watchlist</b></button>
                </div>
                <div id="recent-reviews" class="tabcontent">
                    {% if review_dict %}
                    {% for review, liked in review_dict.items %}
                    <div class="review" id="review-{{review.id}}">
                        <div class="comment-block" id="review-{{review.id}}" style="height: 260px;">
                            <div class="comment">
                                <div class="movie-poster" style="float: left;">	
                                    <a href=" {% url 'movie_detail' movie_id=review.movie.id %}">
                                        <div class="poster">
                                        <img src="{{review.movie.poster}}" class="poster-comment" style="width: 120px;">
                                        </div>
                                    </a>
                                </div>
                                <div class="review-info" style="float: left; margin-top: 5px;">
                                    <div class="sidebyside"  style="display:inline-block; width: 400px;"> 
                                        <span class="movie-name">
                                                <a href="{% url 'movie_detail' movie_id=review.movie.id %}" style="font-weight: 500; margin-left: 15px;">{{review.movie.name}}</a>
                                        </span>
                                        {% if review.user == user or user.is_superuser %}
                                        <span class="buttons" style="right: 410px; position: absolute;">
                                            <button class="edit-button"  onclick="openForm('edit-{{review.id}}')"><i class="fa fa-pencil"></i></button>
                                            <div class="edit-popup" id="edit-{{review.id}}">
                                                <form class="form-container" action="{% url 'review_edit' review_id=review.id %}" id="editform-{{review.id}}" method="post">
                                                    {% csrf_token %}
                                                    <div class="center-form">
                                                        <textarea id="review_text" name="review_text" minlength="1" maxlength="400" style="font-size: 14px; height: 120px; width: 700px; background-color: var(--text-color); color:white;">{{review.review_text}}</textarea>
                                                    </div>
                                                    <div class="center-buttons">
                                                        <button type="submit" class="btn" onclick="reviewEdit('{{review.id}}')">Save</button>
                                                        <button type="button" class="btn cancel" onclick="closeForm('edit-{{review.id}}')">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <button class="review-delete" onclick="openForm('delete-{{review.id}}')"><i class="fa fa-close"></i></button>
                                            <div class="delete-popup" id="delete-{{review.id}}">
                                                <p class="delete-text">Do you want to delete this review?</p>
                                                <div class="delete-buttons">
                                                    <button type="submit" class="btn" onclick="reviewDelete('{{review.id}}')">Delete</button>
                                                    <button type="button" class="btn cancel" onclick="closeForm('delete-{{review.id}}')">Cancel</button>
                                                </div>
                                            </div>
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div class="sidebyside"  style="display:block; margin-left: 17px;"> 
                                            <span class="user-name" style="font-size: 13px;">Watched by
                                                <a href="{% url 'profile' username=review.user.username %}" style="font-size: 13px; font-weight:500; color: var(--main-color);"> {{review.user.name}}</a>
                                            </span>
                                            <a href="" class="comment-time" style="margin-left: 12px;">
                                                <i class="fa fa-clock-o"></i>
                                                {{review.date}}
                                            </a>
                                    </div>
                                    <p class="comment-text" id="review-text-{{review.id}}" style="word-wrap: break-word; width: 450px; margin-left: 14px; margin-top: 30px;">
                                        {{review.review_text}}
                                    </p>
                                    <div class="sidebyside" style="display: inline-block;">
                                    {% if not liked %}
                                        <span class="review-like" id="like-{{review.id}}" onclick="reviewLike('{{review.id}}')" style="font-size: 13px; font-weight: 600; margin-left: 15px;">Like <i class="fa fa-heart" style="font-size: 10px;"></i></span>
                                    {% else %}
                                        <span class="review-like" id="like-{{review.id}}" onclick="reviewLike('{{review.id}}')" style="color: var(--main-color); font-size: 13px; font-weight: 600; margin-left: 15px;">Liked <i class="fa fa-heart fa-sm" style="font-size: 10px;"></i></span>
                                    {% endif %}
                                        <button id="like-count-{{review.id}}" onclick="openForm('likers-{{review.id}}')" style="font-size: 11px; color: white; font-weight:500; background: none;"> &nbsp;{{review.like_count}} likes</button>
                                    </div>
                                    <div class="likers" id="likers-{{review.id}}">
                                        <button class="close-button" type="button" onclick="closeForm('likers-{{review.id}}')"><i class="fa fa-close"></i></button>
                                        <div class="scroll">
                                            {% for user in review.likers.all %}
                                            <div class="liker">
                                                <a href=" {% url 'profile' username=user.username %}">
                                                    <img src="{{user.profilepic}}" class="ava-comment" style="margin-right:10px; float: left;">
                                                </a>
                                                <span class="comment-name">
                                                        <a href="{% url 'profile' username=user.username %}">{{user.name}}</a>
                                                        <br>@{{user.username}}
                                                </span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>                 
                <div id="watched-movies" class="tabcontent">
                    {% if requested_user.watched.all %}
                    <div class="movies-container">
                      {% for movie in requested_user.watched.all %}
                        <a href="{% url 'movie_detail' movie_id=movie.id %}">
                            <div class="box">
                                <div class="box-img">
                                    <img src="{{movie.poster}}">
                                </div>
                            <h3>{{movie.name}}</h3>
                            </div>
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div id="liked-movies" class="tabcontent">
                    {% if requested_user.liked_movies.all %}
                    <div class="movies-container">
                      {% for movie in requested_user.liked_movies.all %}
                        <a href="{% url 'movie_detail' movie_id=movie.id %}">
                            <div class="box">
                                <div class="box-img">
                                    <img src="{{movie.poster}}" alt="">
                                </div>
                            <h3>{{movie.name}}</h3>
                            </div>
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div id="watchlist-movies" class="tabcontent">
                    {% if requested_user.watchlist.all %}
                    <div class="movies-container">
                      {% for movie in requested_user.watchlist.all %}
                        <a href="{% url 'movie_detail' movie_id=movie.id %}">
                            <div class="box">
                                <div class="box-img">
                                    <img src="{{movie.poster}}" alt="">
                                </div>
                            <h3>{{movie.name}}</h3>
                            </div>
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
            </div>
            <div class="column-3">
                <div class="friend-activity" style="margin-top: 10px; font-weight:600; font-size:18px; width: 320px;">
                    <span style="margin-left: 5px;">Following</span><br><br>
                    {% for friend in following %}
                    <a href=" {% url 'profile' username=friend.user.username %}">
                        <div class="pp" style="display: inline-block;">
                        <img src="{{friend.user.profilepic}}" class="ava-comment" style="width: 50px; height: 50px; margin-right: 5px;">
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>  
</body>
{% endblock %}
</html>
